<div class="container" >
  <form>
    <div class="form-row">
      <div class="col-md-3">
      <label for="validationcustom02">Seleccione el área a emitir el reporte</label>
      <select class="form-control">
        <option >RECEPCION</option>
        <option >FIRMA Y SELLO</option>
        <option >DIGITALIZACION</option>
        <option >ENTREGA DE ARCHIVO</option>
      </select>
    </div>
    </div>
  </form>
  <div class="container">
      <div class="list-group">
          <li class="list-group-item d-flex  align-items-center">
              <a href="reportes" class="btn btn-primary  list-group-item list-group-item-action col-md-8">XJUVIPLG24567115 - 24567115 - INES PAOLA LIRANZO GRATEROL - UNEFA</a>
              <a href="reportes" class="btn btn-success active list-group-item list-group-item-action col-md-2 icon ion-md-done-all ">  Aprobado</a>
              <a href="reportes" class="btn btn-danger list-group-item list-group-item-action col-md-2 icon ion-md-close-circle">  No valido</a>
            </li>
      <li class="list-group-item d-flex  align-items-center">
              <a href="reportes" class="btn btn-primary  list-group-item list-group-item-action col-md-8">XKLVLADD23666876 - 23666876 - LUIS ANTONIO DURAN DURAN - UCLA</a>
              <a href="reportes" class="btn btn-success  list-group-item list-group-item-action col-md-2 icon ion-md-done-all ">  Aprobado</a>
              <a href="reportes" class="btn btn-danger active list-group-item list-group-item-action col-md-2 icon ion-md-close-circle">  No valido</a>
            </li>
      <li class="list-group-item d-flex  align-items-center">
              <a href="reportes" class="btn btn-primary  list-group-item list-group-item-action col-md-8">XFLMJLD19898150 - 19898150 - MARIA JOSE LOPEZ DUARTE - UFT</a>
              <a href="reportes" class="btn btn-success active list-group-item list-group-item-action col-md-2 icon ion-md-done-all ">  Aprobado</a>
              <a href="reportes" class="btn btn-danger list-group-item list-group-item-action col-md-2 icon ion-md-close-circle">  No valido</a>
            </li>
      <li class="list-group-item d-flex  align-items-center">
              <a href="reportes" class="btn btn-primary  list-group-item list-group-item-action col-md-8">XIJVLAPM21799868- 21799868 - LAURA ANDREINA PEREZ MORA - IUJO</a>
              <a href="reportes" class="btn btn-success  list-group-item list-group-item-action col-md-2 icon ion-md-done-all ">  Aprobado</a>
              <a href="reportes" class="btn btn-danger list-group-item list-group-item-action col-md-2 icon ion-md-close-circle">  No valido</a>
            </li>
        </div>
  </div>
</div>