<br/>
<div class="container">
<div class="col-md-12 hoy">
<i class="icon ion-md-calendar" id="calendar"></i>
 <h2>Tramites del Día</h2>
 <h4>10/05/2018</h4>
</div>
<div class="card-deck ">
<div class=" card bg-primary mb-3 recepcion">
  <a href="reportes" class="btn btn-primary">
    <i class="card-img-top icon ion-md-archive" id="recepcion-i"></i>
    <div class="card-body">
      <h5 class="card-title">Recepcion</h5>
      <p class="card-text">100 Titulos.</p>
    </div>
    <div class="card-footer">
      <small class="text">Ultima actualización hace 3 horas</small>
    </div>
  </a>
</div>
<div class=" card bg-primary mb-3 recepcion">
    <i class="card-img-top icon ion-md-finger-print" id="recepcion-i"></i>
    <div class="card-body">
      <h5 class="card-title">Firma y Sello</h5>
      <p class="card-text">90 Titulos.</p>
    </div>
    <div class="card-footer">
      <small class="text">Ultima actualización hace 4 minutos</small>
    </div>
</div>
<div class=" card bg-primary mb-3 recepcion">
    <i class="card-img-top icon ion-md-barcode" id="recepcion-i"></i>
    <div class="card-body">
      <h5 class="card-title">Digitalización</h5>
      <p class="card-text">150 Titulos.</p>
    </div>
    <div class="card-footer">
      <small class="text">Ultima actualización hace 9 minutos</small>
    </div>
</div>
<div class=" card bg-primary mb-3 recepcion">
    <i class="card-img-top icon ion-md-filing" id="recepcion-i"></i>
    <div class="card-body">
      <h5 class="card-title">Entrega de Archivo</h5>
      <p class="card-text">100 Titulos.</p>
    </div>
    <div class="card-footer">
      <small class="text">Ultima actualización hace 2 minutos</small>
    </div>
</div>
</div>
</div>